# Renombra este archivo a .env y añade tu clave Anthropic
ANTHROPIC_API_KEY=tu_api_key_aqui

# Firebase config
VITE_FIREBASE_API_KEY=tu_apiKey
VITE_FIREBASE_AUTH_DOMAIN=tu_authDomain
VITE_FIREBASE_DATABASE_URL=tu_databaseURL  # Requerido para Realtime Database
VITE_FIREBASE_PROJECT_ID=tu_projectId
VITE_FIREBASE_STORAGE_BUCKET=tu_storageBucket
VITE_FIREBASE_MESSAGING_SENDER_ID=tu_messagingSenderId
VITE_FIREBASE_APP_ID=tu_appId
VITE_FIREBASE_MEASUREMENT_ID=tu_measurementId
