# Renombra este archivo a .env y añade tu clave Anthropic
ANTHROPIC_API_KEY=tu_api_key_aqui

# Firebase config (solo backend/servidor)
FIREBASE_API_KEY=tu_apiKey
FIREBASE_AUTH_DOMAIN=tu_authDomain
FIREBASE_DATABASE_URL=tu_databaseURL  # Requerido para Realtime Database
FIREBASE_PROJECT_ID=tu_projectId
FIREBASE_STORAGE_BUCKET=tu_storageBucket
FIREBASE_MESSAGING_SENDER_ID=tu_messagingSenderId
FIREBASE_APP_ID=tu_appId
FIREBASE_MEASUREMENT_ID=tu_measurementId
